#!/bin/bash
❯ ./take_screenshot.sh
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.user.screenshot</string>
   <key>ProgramArguments</key>
   <array>
       <string>YOURFOLDER/take_screenshot.sh</string>
   </array>
   <key>StartInterval</key>
   <integer>180</integer>
</dict>
</plist>